<div class="house">
  <h3>Housing info</h3>
  Address <%= @house.address %>
  Address Line 2 <%= @house.address_2 %>
  Neighborhood <%= @house.neighborhood %>
  Zip Code <%= @house.zip %>
  Number of rooms <%= @house.number_of_rooms %>
  Price <%= @house.price %>
  Initial deposit <%= @house.deposit %>
  Email Address <%= @house.email %>
  Phone number <%= @house.phone %>
  Description <%= @house.description %>
  Minimum number of weeks <%= @house.minimum_weeks %>
  Maximum number of weeks <%= @house.maximum_weeks %>
</div>